.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 5%;
    margin-left: 2%;
    width: 70%;
   
    
  }
  
  .titre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5%;
    font-size: x-large;
    margin-bottom: 5%;
  }
  .demande_container {
   
    padding: 3%;
   
    
  }
  
  .ename {
   font-size:xx-large;
   font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
   margin-bottom: 5%;
  }
  .Statut {
    color: rgba(0, 0, 0, 0.637);
    margin-bottom: 5%;
  }
  
  .demande {
  
    display: grid;
    grid-template-columns: 50% 50% ;
    overflow: auto;
  height: 600px; /* Adjust the height as needed */
  border: none; /* Hide the scroll border */

  }
  
  .descD {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5%;
  }
  
  .Selections {
    display: flex;
    align-items: center;
  }
  
  .selectdate,
  .selectInst {
    margin-right: 10px;
  }
  
  select,
  input[type='date'] {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    background-color: white;
   
  }
  
  .affecter button {
    margin-left:35%;
    margin-top: 5%;
    border: 2px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 15px;
    border-color:  #00A3FF;
    font-size: larger;
    font-weight: 100;
  }
  
  .affecter button:hover {
    background-color:  #00A3FF;
    color: white;
  }
  #instructeurs {
    width: 100%;
    background-color: white;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .selectInst {
    
    width: 90%;
  }
  
  .Selections { 
    margin-left: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
   
  }

  #dateS {
    width: 90%;
   
  }
  .headers2{
    width: 100%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 2%;


   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgba(0, 0, 0, 0.014);
  
   font-size: 65px;
  }
