/* Styles for the form */

.Rapport {
  width: 80%;
  border: 1px solid #00bcd4;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}
.Rapport form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles for the form labels */
.Rapport .title {
  font-weight: bold;
}

/* Styles for the form input fields */
.Rapport input[type="text"],
.Rapport textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for the textarea */
.wrapper {
  width: 100%;
  resize: none;
  height: 59px;
  outline: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #4671ea;
  border: 1px solid #bfbfbf;
}

textarea::placeholder {
  color: #b3b3b3;
}
textarea:is(:focus, :valid) {
  padding: 14px;
  border: 2px solid #4671ea;
}
textarea::-webkit-scrollbar {
  width: 0px;
}

/* Styles for the submit button */
.Rapport .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Rapport .btn:hover {
  background-color: #0056b3;
}
